<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CanvasEditor</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

    <div style="border: 0px solid #d3d3d3; padding: 5px; background-color: lightblue; width: 800px; height: 400px">
        <canvas id="myCanvas" width="800" height="400" style="background-color: white"></canvas>
    </div>
    <h4>Type any character</h4>


    <script>

        /**
         *  This is just a proof of concept to show that HTMl canvas can be used for a simple text editor with a blking cursor and a content assist (intelliSense) window etc.
         *  The next steps are to migrate these functions in to a class, allow multiple lines, and to line up the contentAssist window with the last word typed
         */


        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        var y_pos = 19;
        var numOfChars = 0;
        var cursorPos = 8;
        var x_pos = null;

        //Cursor defaults TODO: Create class for cursor
        var cursorOn = false;
        var cursorInterval = 500; //In mmilliseconds
        var cursorWidth = 2;
        var cursorHeight = 15;


        //Default to top left
        var cursor_x = 6;
        var cursor_y = 5;

        initCursor();


        function initCursor() {

            //Inital state: turn on
            toggleCursor(true);

            //Toggle "blink" state on desired interval (cursorInterval)
            setInterval(function () {

                if (cursorOn) {
                    toggleCursor(false);
                }
                else {
                     toggleCursor(true);
                }

            }, cursorInterval)

        }


        function toggleCursor(turnOn) {

            ctx.moveTo(cursor_x, cursor_y);
            ctx.lineTo(cursor_x, cursor_y + cursorHeight);
            ctx.lineWidth = cursorWidth;
            ctx.strokeStyle = turnOn ?  'black' : 'white'
            ctx.stroke();

            cursorOn = turnOn;
        }


        function writeCharacter(character) {

            x_pos = (cursorPos * (numOfChars + 1));

            ctx.font = "16px Consolas";
            ctx.fillStyle = 'blue';
            ctx.fillText(character, x_pos, y_pos);

            numOfChars++;

        }


        function handleKeypress(e) {

            var code = e.keyCode;

            var character = String.fromCharCode(code).toLowerCase();

            writeCharacter(character);

            //switch (code) {
            //    //case 37: alert("Left"); break; //Left key
            //    //case 38: alert("Up"); break; //Up key
            //    //case 39: alert("Right"); break; //Right key
            //    //case 40: alert("Down"); break; //Down key
            //    //default: alert(code); //Everything else
            //}
        }


        window.addEventListener('keydown', handleKeypress, false);




    </script>


</body>
</html>
