<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CanvasEditor</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

    <canvas id="myCanvas" width="500" height="300" style="border: 1px solid #d3d3d3; background-color: white"></canvas>
    <h4>Press "f" to cause "contentAssist" windows to display</h4>
    <ul id="contextMenu" style="display: none">
        <li>fa</li>
        <li>function</li>
        <li>final</li>
    </ul>

    <script>

        /**
         *  This is just a proof of concept to show that HTMl canvas can be used for a simple text editor with a blking cursor and a content assist (intelliSense) window etc.
         *  The next steps are to migrate these functions in to a class, allow multiple lines, and to line up the contentAssist window with the last word typed
         */

        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        var y_pos = 15;
        var numOfChars = 0;
        var cursorPos = 9;
        var x_pos = null;

        //Cursor defaults TODO: Create class for cursor
        var cursorOn = false;
        var cursorInterval = 500; //In mmilliseconds
        var cursorWidth = 2;
        var cursorHeight = 15;
        var cursor_x = 50;
        var cursor_y = 50;

        initCursor();


        function initCursor() {

            //Inital state: turn on
            toggleCursor(true);

            //Toggle "blink" state on desired interval (cursorInterval)
            setInterval(function () {

                if (cursorOn) {
                    toggleCursor(false);
                }
                else {
                     toggleCursor(true);
                }

            }, cursorInterval)

        }


        function toggleCursor(turnOn) {

            ctx.moveTo(cursor_x, cursor_y);
            ctx.lineTo(cursor_x, cursor_y + cursorHeight);
            ctx.lineWidth = cursorWidth;
            ctx.strokeStyle = turnOn ?  'black' : 'white'
            ctx.stroke();

            cursorOn = turnOn;
        }


        function writeCharacter(character) {

            x_pos = (cursorPos * (numOfChars + 1));

            ctx.font = "16px Consolas";
            ctx.fillStyle = 'blue';
            ctx.fillText(character, x_pos, y_pos);


            numOfChars++;

            //Listen for the letter "f"
            if (character == 'f') {

                showContentAssist();

            }
        }


        function handleKeypress(e) {

            var code = e.keyCode;

            console.dir(code);

            var character = String.fromCharCode(code).toLowerCase();

            writeCharacter(character);

            //switch (code) {
            //    //case 37: alert("Left"); break; //Left key
            //    //case 38: alert("Up"); break; //Up key
            //    //case 39: alert("Right"); break; //Right key
            //    //case 40: alert("Down"); break; //Down key
            //    //default: alert(code); //Everything else
            //}
        }


        window.addEventListener('keydown', handleKeypress, false);


        /******************/

        var $contentAssist = $('#contextMenu');


        function showContentAssist() {

            $contentAssist.css({ left: x_pos + 10, top: y_pos - 5 });
            $contentAssist.show();
        }


    </script>


</body>
</html>
