body {
    background-color: ivory;
    padding: 10px;
}

#canvas {
    background-color: white
}

#canvas-container {

    border: 0px solid #d3d3d3;
    padding: 5px;
    background-color: lightblue;
    width: 800px;
    height: 400px
}
